<form action="/named-rocky" method="post" autocomplete="on">
  Name your pet:<input type="text" name="name"><br>
  Tell me his colour:<input type="text" name="colour"><br>
  <input type="submit" value="Pippo">
</form>
