<% if @game.current_turn == @game.player1 %>
  <h1><%= @game.player1.name %> attacks <%= @game.player2.name %></h1>
<% else %>
  <h1><%= @game.player2.name %> attacks <%= @game.player1.name %></h1>
<% end %>


<!--<a href="/play">Ok</a>-->
<form action="/switch-turn" method="post">
  <input type="submit" value="Ok">
</form>
