<h2><%= @game.current_turn.name %> is about to attack you.....
  <div id="count"></div>
</h2>

<script language="JavaScript">

function showCount(num) {
    document.getElementById("count").innerText = num;
}
var count = 3;
showCount(count);

function countDown() {
    count--;
    showCount(count);
    if (count == 0) {
        document.location = "/play";
    } else {
        setTimeout(countDown, 1000);
    }
}

setTimeout(countDown, 1000);

</script>
