<%= @game.current_turn.name %> is about to attack you....3..2..1....

<script language="JavaScript">
  function nextPage() {
      document.location = "/play";
  }
  setTimeout(nextPage, 3000)
</script>






<!--<form action="/switch-turn" method="get">-->
  <!--<input type="submit" value="Ok">-->
<!--</form>-->
