<form action="/players" method="post" autocomplete="on">
  Give your monster#1 a name:<input type="text" name="monster_name1"><br>
  Give your monster#2 a name:<input type="text" name="monster_name2"><br>
    <input type="submit" value="Monsterize!">
</form>
