<link rel="stylesheet" type="text/css" href="/my_style.css">

<div class="pagination">
  <h2>Sign in to play</h2><br>
  <h3>Choose a monster and give it a name</h3><br>
  <form action="/start-game" method="post" autocomplete="on">
    <input type="text" placeholder="Monster#1" name="monster_name1" required="required"><br><br>
    <input type="text" placeholder="Monster#2" name="monster_name2" required="required"><br><br>
      <input class="button" type="submit" value="Monsterize!">
  </form>
</div>

