<link rel="stylesheet" type="text/css" href="/my_style.css">

<h2>Sign in to play</h2><br>
<h3>Choose a monster and give it a name</h3><br>
<form action="/start-game" method="post" autocomplete="on">
  Monster#1 <input type="text" name="monster_name1"><br><br>
  Monster#2 <input type="text" name="monster_name2"><br><br>
    <input type="submit" value="Monsterize!">
</form>
