<html>
  <head><title>Play</title></head>

  <body>
    <% if @player1 && @player2 %>
      <h2>Monster <%= @player1%> Vs Monster <%= @player2%>!</h2>
    <% end %>
    <h3> <%= @player2 %>: 60 HP</h3>
  <a href="/attack">Attack</a>

  </body>

</html>
