<h2>Приходи играть!</h2><br>
<h3>Выбери Монстра и дай ему имя</h3><br>
<form action="/players" method="post" autocomplete="on">
  Monster#1 <input type="text" name="monster_name1"><br><br>
  Monster#2 <input type="text" name="monster_name2"><br><br>
    <input type="submit" value="Очудовищь!">
</form>
